@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');

body{
    background-color: #118d8d;
    height:150vh;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.container{
    width:400px;
    height: 600px;
    background: white;
    justify-content: center;

}
.register{
    width:400px;
    height: 20%;
    background: blueviolet;
    text-align: center;
    justify-content: center;
    overflow: hidden;

}
.icon{
    background-color: blueviolet;
}
* {
    box-sizing: border-box;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: blueviolet;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}